/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// Custom Variables
$primary: #FDAA04;
$navbar-height: 80px;
$font-family-base: -apple-system, "Nunito", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// import bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

html.with-navbar {
    scroll-padding-top: $navbar-height;
    margin-top: $navbar-height;
}

a {
    text-decoration: none !important;
}

div.wrapper {
    padding: 2em 15vw;
}

/* Navbar */
.navbar {
    height: $navbar-height;
}

.navbar-brand img {
    width: 70px;
}

.nav-link:hover {
    color: $primary !important;
}

.dropdown-menu {
    --bs-dropdown-min-width: 0 !important;
}

@media (max-width: 991.98px) {
    .order-mobile-first {
        order: -1;
    }

    .order-mobile-last {
        order: 1;
    }
}

/* Hero */
.min-height {
    min-height: calc(100vh - $navbar-height);
}

/* Main */
.card {
    padding: 0px !important;
    overflow: hidden;
}

.card .card-title {
    transition: .3s;
}

.card:hover .card-title {
    color: $primary;
}

.card:hover .card-img,
.card:hover .card-img-top {
    transform: scale(1.1);
}

.album h2 {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 4px;
    text-decoration-color: $primary;
}

/* Form */
header {
    padding-top: 2em;
}

fieldset:hover {
    background-color: #f3f3f3;
}

.form-group label {
    margin: 0.5em 0 0.25em;
}

input[type="checkbox"]:checked+.ingredient-label {
    text-decoration: line-through;
}

/* Display */
.mask {
    background-color: rgba(0, 0, 0, 0.7);
}

.bg-image {
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.angled-div {
    background: #ffffff;
    height: 3rem;
    transform: skewY(-1.5deg);
    transform-origin: top left;
}

li::marker {
    color: $primary;
}

.hover-effect::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color .3s;
}

.hover-effect:hover::after {
    background-color: rgba(253, 170, 4, 0.3);
}

@media (min-width: 768px) {
    .recipe-content {
        border-right: 1px solid #ccc;
    }
}

/* Authors */
.profile-card .background-block::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.profile-card .card-content::before {
    content: '';
    background: #f8f9fa;
    width: 120%;
    height: 100%;
    left: 0;
    bottom: 50px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}

/* Editor */
.Bubblemenu {
    div:hover {
        background: #555555;
        cursor: pointer;
    }
}

.ProseMirror .is-empty:before {
    color: #aaa;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.ProseMirror:focus {
    outline: none;
}