/* General */
:root {
    --primary: #FDAA04;
    --secondary: #000220;
    --navbar-height: 80px;
}
html.with-navbar {
    scroll-padding-top: var(--navbar-height);
    margin-top: var(--navbar-height);
}
a {
    text-decoration: none !important;
}
div.wrapper {
    padding: 2em 15vw;
}

/* Navbar */
.navbar {
    height: var(--navbar-height);
}
.navbar-brand img {
    width: 70px;
}
.nav-link:hover {
    color: var(--primary) !important;
}
.dropdown-menu {
    --bs-dropdown-min-width: 0!important;
}

/* Hero */
.min-height {
    min-height: calc(100vh - var(--navbar-height));
}
.hero-image {
    display: none;
}
@media (min-width: 992px) {
    .hero-image {
      display: block;
    }
}  
.hero-image img {
    object-fit: cover;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* Main */
.card {
    padding: 0px!important;
    overflow: hidden;
}
.card .card-title {
    transition: .3s;
}
.card:hover .card-title {
    color: var(--primary);
}
.card:hover .card-img, .card:hover .card-img-top {
    transform: scale(1.1);
}
.card-img, .card-img-top {
    transition: transform .3s ease-in-out;
}
.album h2 {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 4px;
    text-decoration-color: var(--primary);
}

/* Form */
header, legend, .controls {
    font-family: 'Ubuntu', sans-serif;
}
header {
    padding-top: 2em;
}
fieldset:hover {
    background-color: #f3f3f3;
}
.form-group label {
    margin: 0.5em 0 0.25em;
}

/* Display */
.mask {
	background-color: rgba(0, 0, 0, 0.7);
}
.bg-image {
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
	height: 400px;
}
.angled-div {
    background: #ffffff;
    height: 3rem;
    transform: skewY(-1.5deg);
    transform-origin: top left;
}
li::marker {
    color: var(--primary);
}
.hover-effect::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color .3s;
}
.hover-effect:hover::after {
    background-color: rgba(253, 170, 4, 0.3);
}

/* Authors */
.profile-card {
    font-family: 'Open Sans', Arial, sans-serif;
}
.profile-card .background-block {
    height: 200px;
}
.profile-card .background-block .background {
    width:100%;
    filter: blur(0.4px);
    transform: scale(1.8);
}
.profile-card .background-block::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.profile-card .card-content {
    z-index: 2;
}
.profile-card .card-content::before {
    content: '';
    background: #f8f9fa;
    width: 120%;
    height: 100%;
    left: 0;
    bottom: 50px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card .profile {
    bottom: 40%;
    transform: translate(-50%, 0%);
    z-index:3;
}