/* General */
:root {
    --primary: #FDAA04;
    --secondary: #000220;
    --navbar-height: 80px;
}
html.with-navbar {
    scroll-padding-top: var(--navbar-height);
    margin-top: var(--navbar-height);
}
a {
    text-decoration: none !important;
}
div.wrapper {
    padding: 2em 15vw;
}

/* Navbar */
.navbar {
    height: var(--navbar-height);
}
.navbar-brand img {
    width: 70px;
}
.nav-link:hover {
    color: var(--primary) !important;
}
.dropdown-menu {
    --bs-dropdown-min-width: 0!important;
}

/* Main */
.card {
    padding: 0px!important;
    overflow: hidden;
}
.card .card-title {
    transition: .3s;
}
.card:hover .card-title.text-uppercase {
    color: var(--primary);
}
.card:hover .card-img, .card:hover .card-img-top {
    transform: scale(1.1);
}
.card-img, .card-img-top {
    transition: transform .3s ease-in-out;
}
.album h2 {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 4px;
    text-decoration-color: var(--primary);
}

/* Form */
header, legend, .controls {
    font-family: 'Ubuntu', sans-serif;
}
header {
    padding-top: 2em;
}
fieldset:hover {
    background-color: #f3f3f3;
}
.form-group label {
    margin: 0.5em 0 0.25em;
}

/* Display */
.mask {
	background-color: rgba(0, 0, 0, 0.7);
}
.bg-image {
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
	height: 400px;
}
.angled-div {
    background: #ffffff;
    height: 3rem;
    transform: skewY(-1.5deg);
    transform-origin: top left;
}
li::marker {
    color: var(--primary);
}
.hover-effect::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color .3s;
}
.hover-effect:hover::after {
    background-color: rgba(253, 170, 4, 0.3);
}

/* Login */
.form-signin {
    height: calc(100vh - var(--navbar-height));
}